USE [master]
GO
/****** Object:  Database [TestUI]    Script Date: 27.05.2023 1:22:53 ******/
CREATE DATABASE [TestUI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestUI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TestUI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestUI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TestUI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestUI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestUI]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[DateStart] [date] NULL,
	[IdEvent] [int] NULL,
	[Day] [int] NULL,
	[BegingTime] [time](7) NULL,
	[IdModerator] [int] NULL,
	[IdJuri1] [int] NULL,
	[IdJuri2] [int] NULL,
	[IdJuri3] [int] NULL,
	[IdJuri4] [int] NULL,
	[IdJuri5] [int] NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityDescription]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityDescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDescription] [int] NULL,
	[IdActivity] [int] NULL,
 CONSTRAINT [PK_ActivityDescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Description]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Description](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Happend] [nvarchar](250) NULL,
	[Date] [date] NULL,
	[Days] [int] NULL,
	[IdCity] [int] NULL,
	[IdWinner] [int] NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juri]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[Middlename] [nvarchar](250) NULL,
	[IdGender] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[Datebirth] [int] NULL,
	[IdLand] [int] NULL,
	[Phone] [nvarchar](250) NULL,
	[IdNapravlenia] [int] NULL,
	[Password] [nvarchar](250) NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Juri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Land]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Land](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[EnglTitle] [nvarchar](250) NULL,
	[Code] [nvarchar](50) NULL,
	[CodeNumber] [int] NULL,
 CONSTRAINT [PK_Land] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](250) NULL,
	[Firstname] [nvarchar](250) NULL,
	[Fathername] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[BirthDate] [date] NULL,
	[IdLand] [int] NULL,
	[Phone] [nvarchar](250) NULL,
	[Password] [nvarchar](250) NULL,
	[Photo] [nvarchar](250) NULL,
	[IdGender] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderatory]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderatory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[Middlename] [nvarchar](250) NULL,
	[IdGender] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[Datebirth] [date] NULL,
	[IdLand] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[IdNapravlenia] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Moderatory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Napravlenia]    Script Date: 27.05.2023 1:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Napravlenia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Meropriatie] [nvarchar](50) NULL,
	[IdDescription] [int] NULL,
 CONSTRAINT [PK_Napravlenia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Id], [Name], [DateStart], [IdEvent], [Day], [BegingTime], [IdModerator], [IdJuri1], [IdJuri2], [IdJuri3], [IdJuri4], [IdJuri5]) VALUES (1, N'ТОП 50 ', CAST(N'2022-03-15' AS Date), 1, 1, CAST(N'09:00:00' AS Time), 1, 1, 7, 8, 2, NULL)
INSERT [dbo].[Activity] ([Id], [Name], [DateStart], [IdEvent], [Day], [BegingTime], [IdModerator], [IdJuri1], [IdJuri2], [IdJuri3], [IdJuri4], [IdJuri5]) VALUES (2, N'Перспективные направления IT', CAST(N'2022-03-15' AS Date), 1, 2, CAST(N'10:45:00' AS Time), 2, 2, 8, 9, 3, 8)
INSERT [dbo].[Activity] ([Id], [Name], [DateStart], [IdEvent], [Day], [BegingTime], [IdModerator], [IdJuri1], [IdJuri2], [IdJuri3], [IdJuri4], [IdJuri5]) VALUES (3, N'Современные технологии', CAST(N'2022-03-15' AS Date), 1, 2, CAST(N'12:30:00' AS Time), 3, 3, 9, 10, 4, 9)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityDescription] ON 

INSERT [dbo].[ActivityDescription] ([Id], [IdDescription], [IdActivity]) VALUES (1, 1, 1)
INSERT [dbo].[ActivityDescription] ([Id], [IdDescription], [IdActivity]) VALUES (2, 1, 2)
INSERT [dbo].[ActivityDescription] ([Id], [IdDescription], [IdActivity]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[ActivityDescription] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Title]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([Id], [Title]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([Id], [Title]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Description] ON 

INSERT [dbo].[Description] ([Id], [Happend], [Date], [Days], [IdCity], [IdWinner]) VALUES (1, N'Первая встреча клуба «Leader stories»', CAST(N'2022-03-15' AS Date), 1, 34, NULL)
INSERT [dbo].[Description] ([Id], [Happend], [Date], [Days], [IdCity], [IdWinner]) VALUES (2, N'Первый в России JAVABOOTCAMP ', CAST(N'2022-10-25' AS Date), 3, 56, 3)
INSERT [dbo].[Description] ([Id], [Happend], [Date], [Days], [IdCity], [IdWinner]) VALUES (3, N'Встреча клуба Leader Stories «Зачем развивать сотрудников? Они же уйдут» ', CAST(N'2023-04-18' AS Date), 3, 6, 5)
SET IDENTITY_INSERT [dbo].[Description] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Gender]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([Id], [Gender]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Juri] ON 

INSERT [dbo].[Juri] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (1, N'Одинцов', N'Дмитрий', N'Лаврентьевич', 1, N'oconnell.steve@feest.com', NULL, 82, N'7(186)808-50-25', 5, N'ugWkzE', N'foto11.jpg')
INSERT [dbo].[Juri] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (2, N'Белова', N'Инга', N'Прокловна', 2, N'olson.shanny@gmail.com', NULL, 43, N'7(215)064-59-70', 5, N'TsCX7X', N'foto12.jpg')
INSERT [dbo].[Juri] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (3, N'Соловьёва', N'Аюна', N'Станиславовна', 2, N'whirthe@beer.info', NULL, 36, N'7(810)322-94-05', 2, N'R2buBG', N'foto13.jpg')
SET IDENTITY_INSERT [dbo].[Juri] OFF
GO
SET IDENTITY_INSERT [dbo].[Land] ON 

INSERT [dbo].[Land] ([Id], [Title], [EnglTitle], [Code], [CodeNumber]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Land] ([Id], [Title], [EnglTitle], [Code], [CodeNumber]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Land] ([Id], [Title], [EnglTitle], [Code], [CodeNumber]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Land] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Lastname], [Firstname], [Fathername], [Email], [BirthDate], [IdLand], [Phone], [Password], [Photo], [IdGender]) VALUES (1, N'Корнилов', N'Владимир', N'Степанович', N'4sqplurb5eki@gmail.com', CAST(N'1991-02-08' AS Date), 68, N'7(821)277-59-90', N'nOEBrK', N'foto12.jpg', 1)
INSERT [dbo].[Members] ([Id], [Lastname], [Firstname], [Fathername], [Email], [BirthDate], [IdLand], [Phone], [Password], [Photo], [IdGender]) VALUES (2, N'Трофимов', N'Любомир', N'Русланович', N'm73dobuzn6jc@gmail.com', CAST(N'1980-02-11' AS Date), 71, N'7(821)611-43-32', N'TImO7k', N'foto13.jpg', 1)
INSERT [dbo].[Members] ([Id], [Lastname], [Firstname], [Fathername], [Email], [BirthDate], [IdLand], [Phone], [Password], [Photo], [IdGender]) VALUES (3, N'Симонов', N'Остап', N'Федотович', N'9mtkjdsrhp2c@yahoo.com', CAST(N'1989-01-14' AS Date), 91, N'7(821)779-78-75', N'PtwSEA', N'foto14.jpg', 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Moderatory] ON 

INSERT [dbo].[Moderatory] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (1, N'Покровский', N'Роман', N'Дмитриевич', 1, N'i8brhz2gyx4j@gmail.com', CAST(N'1974-01-22' AS Date), 73, N'7(416)870-22-00', 1, N'4VUmGj4t36', N'foto9.jpg')
INSERT [dbo].[Moderatory] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (2, N'Чернышев', N'Ярослав', N'Андреевич', 1, N'dic8qah9zbot@mail.com', CAST(N'1957-06-12' AS Date), 47, N'7(278)138-47-92', 1, N'b9zAs99XD3', N'foto10.jpg')
INSERT [dbo].[Moderatory] ([Id], [Lastname], [Name], [Middlename], [IdGender], [Email], [Datebirth], [IdLand], [Phone], [IdNapravlenia], [Password], [Photo]) VALUES (3, N'Суворова', N'Ева', N'Алексеевна', 2, N'o3gmly907wcn@mail.com', CAST(N'1960-05-29' AS Date), 21, N'7(093)787-84-57', 2, N'n6cx69AM4T', N'foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderatory] OFF
GO
SET IDENTITY_INSERT [dbo].[Napravlenia] ON 

INSERT [dbo].[Napravlenia] ([Id], [Title], [Meropriatie], [IdDescription]) VALUES (1, N'ИТ', N'IT в бизнесе', 1)
INSERT [dbo].[Napravlenia] ([Id], [Title], [Meropriatie], [IdDescription]) VALUES (2, N'Биг Дата', N'Разработка приложений', 2)
INSERT [dbo].[Napravlenia] ([Id], [Title], [Meropriatie], [IdDescription]) VALUES (3, N'Дизайн', N'IT-инфраструктура', 3)
SET IDENTITY_INSERT [dbo].[Napravlenia] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Juri] FOREIGN KEY([IdJuri1])
REFERENCES [dbo].[Juri] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Juri]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Juri1] FOREIGN KEY([IdJuri2])
REFERENCES [dbo].[Juri] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Juri1]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Juri2] FOREIGN KEY([IdJuri3])
REFERENCES [dbo].[Juri] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Juri2]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Juri3] FOREIGN KEY([IdJuri4])
REFERENCES [dbo].[Juri] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Juri3]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Juri4] FOREIGN KEY([IdJuri5])
REFERENCES [dbo].[Juri] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Juri4]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Moderatory] FOREIGN KEY([IdModerator])
REFERENCES [dbo].[Moderatory] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Moderatory]
GO
ALTER TABLE [dbo].[ActivityDescription]  WITH CHECK ADD  CONSTRAINT [FK_ActivityDescription_Activity] FOREIGN KEY([IdActivity])
REFERENCES [dbo].[Activity] ([Id])
GO
ALTER TABLE [dbo].[ActivityDescription] CHECK CONSTRAINT [FK_ActivityDescription_Activity]
GO
ALTER TABLE [dbo].[ActivityDescription]  WITH CHECK ADD  CONSTRAINT [FK_ActivityDescription_Description] FOREIGN KEY([IdDescription])
REFERENCES [dbo].[Description] ([Id])
GO
ALTER TABLE [dbo].[ActivityDescription] CHECK CONSTRAINT [FK_ActivityDescription_Description]
GO
ALTER TABLE [dbo].[Description]  WITH CHECK ADD  CONSTRAINT [FK_Description_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Description] CHECK CONSTRAINT [FK_Description_City]
GO
ALTER TABLE [dbo].[Description]  WITH CHECK ADD  CONSTRAINT [FK_Description_Members] FOREIGN KEY([IdWinner])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Description] CHECK CONSTRAINT [FK_Description_Members]
GO
ALTER TABLE [dbo].[Juri]  WITH CHECK ADD  CONSTRAINT [FK_Juri_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Juri] CHECK CONSTRAINT [FK_Juri_Gender]
GO
ALTER TABLE [dbo].[Juri]  WITH CHECK ADD  CONSTRAINT [FK_Juri_Land] FOREIGN KEY([IdLand])
REFERENCES [dbo].[Land] ([Id])
GO
ALTER TABLE [dbo].[Juri] CHECK CONSTRAINT [FK_Juri_Land]
GO
ALTER TABLE [dbo].[Juri]  WITH CHECK ADD  CONSTRAINT [FK_Juri_Napravlenia] FOREIGN KEY([IdNapravlenia])
REFERENCES [dbo].[Napravlenia] ([Id])
GO
ALTER TABLE [dbo].[Juri] CHECK CONSTRAINT [FK_Juri_Napravlenia]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Gender]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Land] FOREIGN KEY([IdLand])
REFERENCES [dbo].[Land] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Land]
GO
ALTER TABLE [dbo].[Moderatory]  WITH CHECK ADD  CONSTRAINT [FK_Moderatory_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Moderatory] CHECK CONSTRAINT [FK_Moderatory_Gender]
GO
ALTER TABLE [dbo].[Moderatory]  WITH CHECK ADD  CONSTRAINT [FK_Moderatory_Land] FOREIGN KEY([IdLand])
REFERENCES [dbo].[Land] ([Id])
GO
ALTER TABLE [dbo].[Moderatory] CHECK CONSTRAINT [FK_Moderatory_Land]
GO
ALTER TABLE [dbo].[Moderatory]  WITH CHECK ADD  CONSTRAINT [FK_Moderatory_Napravlenia] FOREIGN KEY([IdNapravlenia])
REFERENCES [dbo].[Napravlenia] ([Id])
GO
ALTER TABLE [dbo].[Moderatory] CHECK CONSTRAINT [FK_Moderatory_Napravlenia]
GO
ALTER TABLE [dbo].[Napravlenia]  WITH CHECK ADD  CONSTRAINT [FK_Napravlenia_Description] FOREIGN KEY([IdDescription])
REFERENCES [dbo].[Description] ([Id])
GO
ALTER TABLE [dbo].[Napravlenia] CHECK CONSTRAINT [FK_Napravlenia_Description]
GO
USE [master]
GO
